<!DOCTYPE html>

<head>
  <title>
    Thusitha the BEST contactus

  </title>
  <style>
    body {
      background-color: lightblue;
      font-size: medium;

    }
  </style>
</head>

<body>
  <%- include ('partials/nav.ejs') -%>
    <h1>You successfully submitted the form</h1>
    <h2>Hi <%= qs.name %> my age is <%= qs.age %>
    </h2>
</body>

</html>