<!DOCTYPE html>

<head>
  <title>
    Thusitha the BEST

  </title>


  <link href="/assets/style.css" rel="stylesheet" type="text/css" />

</head>

<body>
  <%- include ('partials/nav.ejs') -%>
    <h1>Best web page Home</h1>
</body>

</html>